<!DOCTYPE html>
<html>
<head>
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        #movies {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }

        #movies td, #movies th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #movies tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        #movies tr:hover {
            background-color: #ddd;
        }
        
        #movies th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #000000;
            color: white;
        }
    </style>
</head>

<body>
    <div class="w3-bar w3-black">
        <a href="./" class="w3-bar-item w3-button">Netflix</a>
    </div>

    <div>
        <a href="./movie/add">Add New Movie</a>
    </div>
    <div>
        <form method="get">
            <label for="searchString">Search</label><br />
            <input type="text" name="searchString" class="input">
            <input type="submit" value="Search">
        </form>
    </div>
    <table id="movies">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Release Date
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
            <tr>
                <td>
                    {{this.Title}}
                </td>
                <td >
                    {{release this.ReleaseDate}}
                </td>
                <td>
                    {{this.Genre}}
                </td>
                <td>
                    {{this.Price}}
                </td>
                <td>
                    <a href="movie/Edit/{{this.Id}}">Edit</a>
                    <a href="movie/Detalis/{{this.Id}}">Detalis</a>
                    <a href="movie/Delete/{{this.Id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
    </html>
